<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<!--
		<link rel="stylesheet" type="text/css" href="style.css"></link>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>
	-->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>

</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
				<li><a href="{{url_for('logout')}}">Logout</a></li>
			</ul>
		</div>
		<div class="title2">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="page-title"><h1>Generate Password</h1></div>
	</header>
	<div class="container">
		<div class="form-box3">
			<div class='password-container'>
				<div class='pass-label'>
					<label for="Password">Click to Generate Password</label>
				</div>
				<div class='pass-disp'>
					<label for="" class='display' id='disp' value="">{{password}}</label>
				</div>
				<div class='action'>
					<div class='pass-generate'>
						<button class='gen' value='Generate Password'>Generate Password</button>
					</div>
					<div class='save-password'>
						<button class='save' value='Save Password' style="display:none;">Save This Password    </button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type='text/javascript'>

		async function showPassword(){
			try{
				const result = await fetch("{{url_for('anotherpassword')}}");
				const data = await result.json();
				document.querySelector('.pass-label').textContent = "Your Password";
				document.querySelector('.display').textContent = data;
				document.querySelector('.gen').textContent = "Generate Another Password";
				document.querySelector('.save').style.display = 'block';
			}catch(error){
				alert(error)
			}
		}
		function get_account(){
			const account = prompt("Enter the Account Name for which you want this password for.");
			const password = document.querySelector('.display').textContent;
			if (account != null){
				$.ajax({
					data:{
						'account_name': account,
						'password': password
					},
					type: 'post',
					url: "{{url_for('save')}}"
				})
				.done(function(data){

					if (data.error){
						alert(data.error);
					}
					else{
						alert("Account added successfully");
					}

				});
			}
		}

		document.querySelector('.gen').addEventListener('click', showPassword);
		document.querySelector('.save').addEventListener('click', get_account);
		
	</script>
</body>
</html>
	