<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="#">CONTACT US</a></li>
				
			</ul>
		</div>
		<div class="title">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="button">
			<a href="{{url_for('register')}}" class="btn">REGISTER</a>
			<a href="{{url_for('login')}}" class="btn">LOG IN</a>
		</div>
	</header>
</body>
</html>
	