<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>
	
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="{{url_for('index')}}">HOME</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<div class="title1">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="hero">
			<form method='post' action="" class='form-box'>
				<h1>Register</h1>
				{{ form.hidden_tag() }}
				<div class="textbox">	
					<input type="text" name="fname_ip" placeholder=" Full Name" required>
				</div>
				{%if form.fullname.errors %}
					<div class='error'>
						{% for error in form.fullname.error %}
							<small class='danger'>{{ eror }}</small>
						{% endfor %}
					</div>
				{% endif %}
				
				
				<div class="textbox">	
					<input type="text" name="phn_ip"  placeholder=" Contact Number" required>
				</div>
				{%if form.contact.errors %}
					<div class='error'>
						{% for error in form.contact.errors %}
							<small class='danger'>{{ error }}</small>
						{% endfor %}
					</div>
				{% endif %}
				
				
				<div class="textbox">	
					<input type="email" name="email_ip"  placeholder=" Email ID" required>
				</div>
				{%if form.email.errors %}
					<div class='error'>
						{% for error in form.email.errors %}
							<small class='danger'>{{ error }}</small>
						{% endfor %}
					</div>
				{% endif %}
				
				
				
				<div class="textbox">	
					<input type="text" name="user_ip"  placeholder=" User Name" required>
				</div>
				{%if form.username.errors %}
					<div class='error'>
						{% for error in form.username.errors %}
							<small class='danger'>{{ error }}</small>
						{% endfor %}
					</div>
				{% endif %}
				
				
				
				<div class="textbox">	
					<input type="password" class='pass' name="password_ip"  placeholder=" Password" required>
				</div>
				<div class='pass-error' style="display:none;">
					<small class='danger'>Password Mismatch</small>
				</div>
				{%if form.password.errors %}
					<div class='error'>
						{% for error in form.password.errors %}
							<small class='danger'>{{ error }}</small>
						{% endfor %}
					</div>
				{% endif %}
				
				
				
				<div class="textbox">	
					<input type="password" class='repass' name="repassword_ip"  placeholder=" Re-Enter Password" required>
				</div>
				{%if form.confirm_password.errors %}
					<div class='error'>
						{% for error in form.confirm_password.errors %}
							<small class='danger'>{{ error }}</small>
						{% endfor %}
					</div>
				{% endif %}
				
				
				<div class="textbox">
					<input name='qns' class='security_qns'  style="width:350px;" value="{{sec_qns}}">
				</div>
				<button clas='button' id='change-qns' style="background: none; width:300px;">Change Security Question</button>
				<div class="textbox">
					<input type="text" name="security_qns_ans" id='sec_qns' placeholder="Enter answer for the above question">
				</div>
				{%if form.sec_ans.errors %}
					<div class='error'>
						{% for error in form.sec_ans.errors %}
							<small class='danger'>{{ error }}</small>
						{% endfor %}
					</div>
				{% endif %}
					
				<input  class="btn1" type="submit" name="Sign Up" value="Register">
				<div>
					<span>
						<small>Already have an account?</small>
						<a href="{{ url_for('login')}}">Log IN</a>
					</span>
				</div>
			</form>
		</div>
	</header>
	<script>
		const sec_qns = document.querySelector('.security_qns').value;
		console.log(sec_qns);

		function password_match(){
			const password = document.querySelector('.pass').value;
			const repassword = document.querySelector('.repass').value;
			console.log(password);
			if (password != repassword){
				document.querySelector('.pass-error').style.display = 'block';
				document.querySelector('.pass').style.backgroundColor = 'red';
				document.querySelector('.repass').style.backgroundColor = 'red';
			}
			else{
				document.querySelector('.pass-error').style.display = 'none';
				document.querySelector('.pass').style.background = 'none';
				document.querySelector('.repass').style.background = 'none';
			}
		}
		function qns(){
			alert('Please do not change the contents of the field');
			console.log(sec_qns);
			document.querySelector('.security_qns').value = sec_qns;
		}

		async function change(){
				const result = await fetch("{{url_for('change_qns')}}");
				const new_qns = await result.json();
				console.log(new_qns);
				document.querySelector('.security_qns').value = new_qns;
		}
		



		document.querySelector('#change-qns').addEventListener('click', change);
		document.querySelector('.security_qns').addEventListener('input', qns);
		document.querySelector('.repass').addEventListener('input', password_match);
	</script>
</body>
</html>
	