<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
				<li><a href="{{url_for('logout')}}">Logout</a></li>
			</ul>
		</div>
		<div class="title2">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="page-title"><h1>Your Saved Passwords</h1></div>
	</header>

	<div class="container">
		<div class="form-box3">
			<div class="wrapper">
				<div class="grid">
					{% if passwords[0] %}
						<div class="card" id='card-1' style="height:230px;">
							<div class="title-name" id="name-1" style="font-size: 200%;"><span>{{passwords[0][0]}}</span></div>
							<div class="detail" id="pass-1" style="margin:0% 2% 5% 2%; font-size: 200%; color:blue; ;"><span>{{passwords[0][1]}}</span></div>
							<div class="detail" id="date-1"><span>{{passwords[0][2]}}</span></div>
							<form action="{{url_for('delete')}}" method='get'>
								<button class='btn1' value="Delete" style="width:100px;">Delete</button>
							</form>
						</div>
					{% endif %}	

					{% if passwords[1] %}
						<div class="card" id='card-2' style="height:230px;">
							<div class="title-name" id="name-2" style="font-size: 200%;"><span>{{passwords[1][0]}}</span></div>
							<div class="detail" id="pass-2" style="margin:0% 2% 5% 2%; font-size: 200%; color:blue; ;"><span>{{passwords[1][1]}}</span></div>
							<div class="detail" id="date-2"><span>{{passwords[1][2]}}</span></div>
							<form action="{{url_for('delete')}}" method='get'>
								<button class='btn1' value="Delete" style="width:100px;">Delete</button>
							</form>
						</div>
					{% endif %}

					{% if passwords[2] %}
						<div class="card" id='card-3' style="height:230px;">
							<div class="title-name" id="name-3" style="font-size: 200%;"><span>{{passwords[2][0]}}</span></div>
							<div class="detail" id="pass-3" style="margin:0% 2% 5% 2%; font-size: 200%; color:blue; ;"><span>{{passwords[2][1]}}</span></div>
							<div class="detail" id="date-3"><span>{{passwords[2][2]}}</span></div>
							<form action="{{url_for('delete')}}" method='get'>
								<button class='btn1' value="Delete" style="width:100px;">Delete</button>
							</form>
						</div>
					{% endif %}
					
					{% if passwords %}
						<div class='footbar'>
							<div class='prev-container'>
								<button id='prev' class='btn1'>Prev<<<</button>
							</div>
							<div class='page'>1</div>
							<div class='next-container'>
								<button id='next' class='btn1 next'>Next>>></button>
							</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function next_page(){
			var pg_no = document.querySelector('.page').textContent;
			console.log(pg_no);
			
			$.ajax({
				data:{
					'page':pg_no
				},
				type: 'post',
				url:"{{url_for('next')}}"
			})
			.done(function(data){
				if (data.length === 2){
					document.querySelector('#card-3').style.display = 'none';
				}
				if (data.length === 1){
					document.querySelector('#card-2').style.display = 'none';
					document.querySelector('#card-3').style.display = 'none';
				}
				for (var index=0; index < data.length ; index+=1) {
					document.querySelector('#name-'+(index+1)).textContent = data[index][0];
					document.querySelector('#pass-'+(index+1)).textContent = data[index][1];
					document.querySelector('#date-'+(index+1)).textContent = data[index][2];
				}
				document.querySelector('.page').textContent = String(Number(pg_no)+1) ;
			});
		}
		function prev_page(){
			var pg_no = document.querySelector('.page').textContent;
			document.querySelector('#card-1').style.display = 'flex';
			document.querySelector('#card-2').style.display = 'flex';
			document.querySelector('#card-3').style.display = 'flex';
			$.ajax({
				data:{
					'page':pg_no
				},
				type: 'post',
				url:"{{url_for('prev')}}"
			})
			.done(function(data){
				for (var index=0; index < data.length ; index+=1) {
					document.querySelector('#name-'+(index+1)).textContent = data[index][0];
					document.querySelector('#pass-'+(index+1)).textContent = data[index][1];
					document.querySelector('#date-'+(index+1)).textContent = data[index][2];
				}
				document.querySelector('.page').textContent = String(Number(pg_no)-1) ;
			});
		}
		document.querySelector('.next').addEventListener('click', next_page);	
		document.querySelector('#prev').addEventListener('click', prev_page);

	</script>
</body>
</html>
	