<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
				<li><a href="{{url_for('logout')}}">Logout</a></li>
			</ul>
		</div>
		<div class="title2">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="page-title"><h1>Your Saved Passwords</h1></div>
	</header>

	<div class="container">
		<div class="form-box3">
			<div class="wrapper">
				<div class="grid">
					{% for password in passwords%}
						<div class="card" style="height:230px;">
							<div class="title-name account-name" style="font-size: 200%;"><span>{{password[0]}}</span></div>
							<div class="detail" style="margin:0% 2% 5% 2%; font-size: 200%; color:blue"><span>{{password[1]}}</span></div>
							<div class="detail"><span>{{password[2]}}</span></div>
							<form action="{{url_for('delete')}}" method='get'>
								<button class='btn1' value="Delete" style="width:100px;">Delete</button>
							</form>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
	