<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
				<li><a href="{{url_for('logout')}}">Logout</a></li>
			</ul>
		</div>
		<div class="title2">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="page-title"><h1>Save Your Passwords</h1></div>
	</header>
	<div class="container">
		
		<div class="form-box2">
			<form action='' method='post'>
				<div class="textbox">	
					<input type="text" name="AccountName"  placeholder=" Account Name" required>
				</div>
				{% if account_error %}
					<div class="error">
						<small class='danger'>Account Name already exists</small>
					</div>
				{% endif %}
				<div class="textbox">	
					<input type="password" name="password"  placeholder="Enter Password" required>
				</div>
				{% if password_error %}
					<div class="error">
						<small class='danger'>Password Mismatch</small>
					</div>
				{% endif %}
				<div class="textbox">	
					<input type="password" name="repassword"  placeholder="Confirm Password" required>
				</div>
				<input  class="btn1" type="submit" name="Add" value="Add Password">
			</form>
		</div>
	</div>
</body>
</html>
	