<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="homepage.html">HOME</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<div class="title2">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="page-title"><h1>Your Dashboard</h1></div>
	</header>
	<div class="container">
		
		<div class="form-box2">
			<div class="wrapper">
				<div class="grid">
					<a href="generatepassword.html" class="card">
						<div class="number"><span>1</span></div>
						<div class="title-name"><span>Generate Password</span></div>
						<div class="detail"><span>Need a stronger password?</span></div>
						<div class="detail"><span>Generate a safer, secure </span></div>
						<div class="detail"><span>and reliable passwords for </span></div>
						<div class="detail"><span>your accounts right here. </span></div>
					</a>
					
					<a href="savedpasswords.html" class="card">
						<div class="number"><span>2</span></div>
						<div class="title-name"><span>Your Saved Passwords</span></div>
						<div class="detail"><span>Forgot your Passwords?</span></div>
						<div class="detail"><span>Don't worry, we have</span></div>
						<div class="detail"><span>them stored here.</span></div>
					</a>
					
					<a href="storepasswords.html" class="card">
						<div class="number"><span>3</span></div>
						<div class="title-name"><span>Save Your Passwords</span></div>
						<div class="detail"><span>Tend to forget your </span></div>
						<div class="detail"><span>Passwords?</span></div>
						<div class="detail"><span>Save them right here.</span></div>
					</a>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>
	