<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="homepage.html">HOME</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<div class="title1">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="hero">
			<div class="form-box1">
			  <h1>Login</h1>
				<div class="textbox">	
					<input type="text" placeholder="Username"  name="" value="" required>
				</div>
				
				<div class="textbox">	
					<input type="password" placeholder="Password"  name="" value="" required>
				</div>
				
				<input  class="btn1" type="submit" name="" value="Log In" href="dashboard.html">
			</div>
		</div>
	</header>
</body>
</html>
	