<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="homepage.html">HOME</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<div class="title2">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="page-title"><h1>Details regarding Password</h1></div>
	</header>
	<div class="container">
		
		<div class="form-box3">
			
		</div>
	</div>
</body>
</html>
	