<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD GENERATOR</title>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>
	<header>
		<div class="main">
			<!-- <div class="logo">
				<img src="{{url_for('static', filename='logo_1.png')}}">
			</div> -->
			<ul>
				<li><a href="homepage.html">HOME</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<div class="title1">
			<h1>PASSWORD GENERATOR</h1>
		</div>
		<div class="hero">
			<div class="form-box">
				<h1>Register</h1>
				<div class="textbox">	
					<input type="text" name="fname_ip" class="input-field" placeholder=" First Name" required>
				</div>
				<div class="textbox">	
					<input type="text" name="lname_ip" class="input-field" placeholder=" Last Name" required>
				</div>
				<div class="textbox">	
					<input type="text" name="phn_ip" class="input-field" placeholder=" Contact Number" required>
				</div>
				<div class="textbox">	
					<input type="text" name="email_ip" class="input-field" placeholder=" Email ID" required>
				</div>
				<div class="textbox">	
					<input type="text" name="user_ip" class="input-field" placeholder=" User Name" required>
				</div>
				<div class="textbox">	
					<input type="text" name="password_ip" class="input-field" placeholder=" Password" required>
				</div>
				<div class="textbox">	
					<input type="text" name="repassword_ip" class="input-field" placeholder=" Re-Enter Password" required>
				</div>
				<input  class="btn1" type="submit" name="" value="Register" href="#">
				
			</div>
		</div>
	</header>
</body>
</html>
	